.aboutMe{
     width: 100%;
     min-height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 3rem;
     padding: 2rem;
}

.description {
     grid-area: description;
     font-size: 1.25rem;
     border: 1px solid #4f79bb;
     border-radius: 15px;
     padding: 1rem;
     background-color: #FFFFFF;
     color: #333333;
     max-width: 700px;
}

.name {
     font-size: 4rem;
     font-weight: bold;
     color: #ffffff;
     text-shadow: 1px 2px 4px rgba(0,0,0,0.3);
     font-size: 3rem;
     letter-spacing: -0.05rem;
     text-transform: uppercase;
     padding-bottom: 1rem;
}

.profileImage {
     grid-area: profileImage;
     border-radius: 15px;
     width: 100%;
     max-width: 450px;
     height: auto;
     object-fit: cover;
}

.intro {
     grid-area: intro;
     display: flex;
     flex-direction: column;
     justify-content: center;
}