.copyright {
     color: white;
     text-align: center;
     padding: 1rem;
     border-radius: 15px;
}

.footerHeading {
     color: white;
     text-align: center;
     padding: 1rem;
}

.footerText {
     color: white;
     text-align: center;
     font-size: 1rem;
}

.italics {
     font-style: italic;
}

.contactButton {
     background-color: #4f79bb;
     color: white;
     border: none;
     padding: 20px 40px;
     text-align: center;
     font-weight: bold;
     display: inline-block;
     font-size: 20px;
     margin: 1.5rem auto;
     cursor: pointer;
     border-radius: 12px;
}

.contactButton:hover{
     background: white;
     color: navy;
     border: white;
     cursor: pointer;
     transition: .25s ease;
}

.socialLinks {
     display: flex;
     gap: 1.5rem;
     margin-top: 2rem;
     justify-content: center;
}

.socialLinks a {
     color: white;
     font-size: 2.5rem;
     transition: transform 0.2s ease, color 0.2s ease;
}

.socialLinks a:hover {
     color: #b2cbf2;
     transform: translateY(-3px);
}

.contacticonsectionandcta {
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 1rem;
}

.socialmediainfo {
     max-width: 40rem;
     text-align: center;
}